<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>About Us 3 | Unify - Responsive Website Template</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{{ static('unify-assets/plugins/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ static('unify-assets/css/style.css') }}">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="{{ static('unify-assets/css/header-default.css') }}">
	<link rel="stylesheet" href="{{ static('unify-assets/css/footer-v1.css') }}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{{ static('unify-assets/plugins/animate.css') }}">
	<link rel="stylesheet" href="{{ static('unify-assets/plugins/line-icons/line-icons.css') }}">
	<link rel="stylesheet" href="{{ static('unify-assets/plugins/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ static('unify-assets/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="{{ static('unify-assets/css/theme-colors/default.css') }}" id="style_color">
	<link rel="stylesheet" href="{{ static('unify-assets/css/dark.css') }}">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="{{ static('unify-assets/css/custom.css') }}">
	<link rel="stylesheet" href="{{ static('css/azizi_amp.css') }}">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo azizi_logo">
					<img src="{{ static('img/azizi_logo.jpg') }}" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
						<!-- Home -->
						<li>
							<a href="javascript:void(0);">
								Home
							</a>
						</li>
						<!-- End Home -->

						<!-- Dashboard -->
						<li>
							<a href="/dashboard">
								Dashboard
							</a>
						</li>
						<!-- End Dashboard -->

						<!-- Features -->
						<li>
							<a href="javascript:void(0);">
								Features
							</a>
						</li>
						<!-- End Features -->

						<!-- Documentation -->
						<li>
							<a href="javascript:void(0);">
								Documentation
							</a>
						</li>
						<!-- End Documentation -->

						<!-- Search Block -->
						<li>
							<i class="search fa fa-search search-btn"></i>
							<div class="search-open">
								<div class="input-group animated fadeInDown">
									<input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn-u" type="button">Go</button>
									</span>
								</div>
							</div>
						</li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-6 md-margin-bottom-40">
					<p>The Azizi Anarchy Management Platform (Azizi AMP) is an incredibly powerful platform for downstream analysis and management of data collected with the versatile Open Data Kit (ODK) suite of tools. Azizi AMP has been developed purposefuly for the BiBBOX which is being developed by the B3Africa consortium.</p>
					<p>Azizi AMP provides users the opportunity to:</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check color-green"></i> Deploy mobile data collection tools with minimal IT support</li>
						<li><i class="fa fa-check color-green"></i> Manage collected data easily</li>
						<li><i class="fa fa-check color-green"></i> Extract the data to different formats</li>
						<li><i class="fa fa-check color-green"></i> Integrate with other 3rd party applications eg. Baobab LIMS</li>
						<li><i class="fa fa-check color-green"></i> Reduce the TAT from data collection to analysis</li>
					</ul><br />

					<!-- Blockquotes -->
					<blockquote class="hero-unify">
						<p>Azizi AMP is an essential tool for users in resource poor environment to employ cutting edge data collection and management practices without the heavy investments required in classic deployments</p>
						<small>Prof. Steve Kemp</small>
					</blockquote>
				</div>

				<div class="col-md-6 md-margin-bottom-40">
					<div class="responsive-video">
						<iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>
				</div>
			</div><!--/row-->

			<!-- Meer Our Team -->
			<div class="headline"><h2>Meet Our Team</h2></div>
			<div class="row team">
				<div class="col-sm-3">
					<div class="thumbnail-style">
						<img class="img-responsive" src="{{ static('unify-assets/img/team/img39-md.jpg') }}" alt="" />
						<h3><a>Prof. Steve Kemp</a> <small>Project Manager</small></h3>
						<p>Steve Kemp is the overall leader of the project and is in charge of conceptualization of features and requirements.</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail-style">
						<img class="img-responsive" src="{{ static('unify-assets/img/team/img20-md.jpg') }}" alt="" />
						<h3><a>Wangoru Kihara</a> <small>Lead Developer</small></h3>
						<p>Wangoru Kihara is the lead developer of Azizi AMP. He has extensive experience in design and development of web and data collection systems.</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail-style">
						<img class="img-responsive" src="{{ static('unify-assets/img/team/img19-md.jpg') }}" alt="" />
						<h3><a>Samuel Munyao</a> <small>Biorepository Manager</small></h3>
						<p>Samuel is the Biorepositiry manager at ILRI where the Azizi AMP was developed</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail-style">
						<img class="img-responsive" src="{{ static('unify-assets/img/team/img35-md.jpg') }}" alt="" />
						<h3><a>Mwangi Kamau</a> <small>Systems Tester</small></h3>
						<p>Mwangi leads the Azizi biorepository team in testing the data collection system</p>
					</div>
				</div>
			</div><!--/team-->
			<!-- End Meer Our Team -->
		</div><!--/container-->
		<!--=== End Content Part ===-->

		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								Developed in Collaboration with
								<a href="https://badili.co.ke">Badili Innovations</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{{ static('unify-assets/plugins/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{{ static('unify-assets/plugins/back-to-top.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/plugins/smoothScroll.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{{ static('unify-assets/js/custom.js') }}"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{{ static('unify-assets/js/app.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/js/plugins/owl-carousel.js') }}"></script>
	<script type="text/javascript" src="{{ static('unify-assets/js/plugins/style-switcher.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
		});
	</script>
<!--[if lt IE 9]>
	<script src="{{ static('unify-assets/plugins/respond.js') }}"></script>
	<script src="{{ static('unify-assets/plugins/html5shiv.js') }}"></script>
	<script src="{{ static('unify-assets/plugins/placeholder-IE-fixes.js') }}"></script>
	<![endif]-->

</body>
</html>
