{% extends "base_dashboard.html" %}
{% block dash_content %}

<div>
    <link rel="stylesheet" href="{{ static('bower/jqwidgets/jqwidgets/styles/jqx.base.css') }}" />
    <link rel="stylesheet" href="{{ static('bower/dynatable/jquery.dynatable.css') }}" />
    <link rel="stylesheet" href="{{ static('css/azizi_amp.css') }}" />
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-chevron-left"> </i>  {{ site_name }} Overview</h2>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg-12' id='error_table'>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Defined Forms</h5>
                </div>
                <div class="ibox-content">
                    <table id='processing_status' class='table'>
                      <thead>
                        <th data-dynatable-column="form_name">Form Name</th>
                        <th data-dynatable-column="form_group">Form Group</th>
                        <th data-dynatable-column="date_created">Date Added</th>
                        <th data-dynatable-column="last_submission_date">Last Submission</th>
                        <th data-dynatable-column="no_submissions"># Submissions</th>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{ static('unify-assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('unify-assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Highcharts plugins-->
    <script type="text/javascript" src="{{ static('bower/dynatable/jquery.dynatable.js') }}"></script>

    <script type='text/javascript' src="{{ static('js/azizi_amp.js') }}"></script>

    <script>
        $(document).ready(function(){
            BadiliDash.data = {};
            dash.initiateProcessingStatus();
        });
    </script>
</div>

{% endblock %}
