{% extends "base_dashboard.html" %}
{% block dash_content %}

<div>
    <link rel="stylesheet" href="{{ static('bower/jqwidgets/jqwidgets/styles/jqx.base.css') }}" />
    <link rel="stylesheet" href="{{ static('css/dm_dashboard.css') }}" />
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-chevron-left"> </i>  ADGG Tanzania Overview</h2>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg-4'>
            <div class='ibox float-e-margins'>
                <div class='ibox-title'>Farmers</div>
                <div class='ibox-content'>
                    <div class='row'>
                        <div class='col-lg-5'>
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-user fa-3x"></i>
                                    <h1 class="m-xs">{{ data.farmers.count }}</h1>
                                    <h3 class="font-bold no-margins">
                                        Registered Farmers
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class='col-lg-7'>
                            <div id="farmers_gender_dist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='ibox float-e-margins'>
                <div class='ibox-title'>Animals</div>
                <div class='ibox-content'>
                    <div class='row'>
                        <div class='col-lg-5'>
                            <div class="widget navy-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-paw fa-3x"></i>
                                    <h1 class="m-xs">{{ data.animals.count }}</h1>
                                    <h3 class="font-bold no-margins">
                                        Registered Animals
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class='col-lg-7'>
                            <div id="animals_dist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='ibox float-e-margins'>
                <div class='ibox-title'>Error Logs</div>
                <div class='ibox-content'>
                    <div class='row'>
                        <div class='col-lg-6'>
                            <div id="farmer_reg_processing"></div>
                        </div>
                        <div class='col-lg-6'>
                            <div id="animal_reg_processing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{ static('unify-assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('unify-assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Highcharts plugins-->
    <script type="text/javascript" src="{{ static('bower/highcharts/highcharts.js') }}"></script>

    <script type='text/javascript' src="{{ static('js/adgg.js') }}"></script>

    <script>
        $(document).ready(function(){
            BadiliDash.data = {};

            dash.data = {{ js_data | safe}};
            dash.initiate_adgg_dash();
        });
    </script>
</div>

{% endblock %}
