{% extends "base_dashboard.html" %}
{% block dash_content %}

<div>
    <link rel="stylesheet" href="{{ static('bower/jqwidgets/jqwidgets/styles/jqx.base.css') }}" />
    <link rel="stylesheet" href="{{ static('bower/footables/compiled/footable.bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ static('css/dm_dashboard.css') }}" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class='row'>
        <div class='col-lg-9'>
            <div class='row'>
                <div class='col-lg-6'>
                    <div class='ibox float-e-margins'>
                        <div class='ibox-title'>All forms in the project</div>
                        <div class='ibox-content'>
                            <div id="all_forms"></div>
                            <div>
                                <!-- div>Search:  <input id="searchValue" style="margin-right: 15px;" /></div -->
                                <div id="form_structure"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class='ibox float-e-margins'>
                        <div class='ibox-title'>Tables to map the form fields to</div>
                        <div class='ibox-content'>
                            <div id="all_tables"></div>
                            <div id="table_structure"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3'>
            <div class="ibox float-e-margins">
                <div class='ibox-title text-success'>Instructions on how to use the mapper</div>
                <div class="ibox-content">
                    <div class='list-group'>
                        <div class='list-group-item'>
                            <h3 class="list-group-item-heading text-warning">Test Mappings</h3>
                            <p class='list-group-item-text'>
                                The test mappings button is to test the validity of the mapped fields and the underlying tables. Incase a table is having columns which haven't been mapped this test will fail
                            </p>
                        </div>
                        <div class='list-group-item'>
                            <h3 class="list-group-item-heading text-info">Data Dry Run</h3>
                            <p class='list-group-item-text'>
                                Data dry run is meant to test the accuracy of the processing scripts as well as the underlying table structure. Incase of errors, this test will fail
                            </p>
                        </div>
                        <div class='list-group-item'>
                            <h3 class="list-group-item-heading text-danger">Execute Mappings</h3>
                            <p class='list-group-item-text'>
                                Execute mappings fetches the data from the ODK server and publishes them to the final database
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mapping_comments">
        <div class="col-lg-12 mapping_comments">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Comments</h5>
                </div>
                <div class="ibox-content" id='mapping_comments'>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Saved Mappings</h5>
                    <div class='row table_actions ibox-tools'>
                        <button type="button" class="btn btn-outline btn-warning" id='test_mappings'>Test Mappings</button>
                        <button type="button" class="btn btn-outline btn-info" id='dry_run'>Data Dry Run</button>
                        <button type="button" class="btn btn-outline btn-success" data-toggle="modal" data-target="#processMappingsModal" id='process_data'>Execute Mappings</button>
                        <button type="button" class="btn btn-outline btn-warning" data-toggle="modal" data-target="#clearMappingsModal" id='clear_mappings'>Clear Mappings</button>
                        <button type="button" class="btn btn-outline btn-danger" data-toggle="modal" data-target="#deleteDataModal" id='clear_mappings'>Delete Processed Data</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <!-- Table Markup -->
                    <table id="mappings_table" class="table" data-paging="true" data-filtering="true" data-sorting="true" data-editing="true" data-state="true"  data-paging="true"></table>

                    <!-- Editing Modal Markup -->
                    <div class="modal fade" id="mapping-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
                        <style scoped>
                            
                        </style>
                        <div class="modal-dialog" role="document">
                            <form class="modal-content form-horizontal" id="mapping_editor">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="editor-title">Edit a Mapping</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="number" id="mapping_id" name="mapping_id" class="hidden"/>
                                    <div class="form-group">
                                        <label for="regex_validator" class="col-sm-4 control-label">Regex Validator</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="regex_validator" name="regex_validator" placeholder="Regex">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="map_auto_process" class="col-sm-4 control-label">Is record identifier</label>
                                        <div class="col-sm-8">
                                            <input type="radio" name="is_record_id" id="is_record_id_yes" value='yes'>Yes
                                            <input type="radio" name="is_record_id" id="is_record_id_no" value='no'>No
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="modal inmodal" id="clearMappingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Clear Mappings</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to clear all the current mappings?  <strong>This action is not reversible!</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" id='confirm_clear_mappings' class="btn btn-danger">Clear Mappings</button>
            </div>
        </div>
    </div>
</div>
    
<div class="modal inmodal" id="processMappingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Process Mappings</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to process all the current mappings?  <strong>This action might take some time!</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" id='confirm_process_mappings' class="btn btn-success">Process Mappings</button>
            </div>
        </div>
    </div>
</div>
    
<div class="modal inmodal" id="deleteDataModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Delete Processed Data</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to DELETE the processed data?  <strong>You will be forced to start from scratch again!</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" id='confirm_delete_data' class="btn btn-danger">Delete Data</button>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src="{{ static('plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script type='text/javascript' src="{{ static('plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- jqwidgets -->
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxcore.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxdata.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxbuttons.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxscrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxpanel.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxdatatable.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxtree.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxtreegrid.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxmenu.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxgrid.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxgrid.columnsresize.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxdropdownlist.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxcombobox.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxgrid.selection.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxcheckbox.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxradiobutton.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxlistbox.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxdragdrop.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxnotification.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxexpander.js') }}"></script>
    
    <script type="text/javascript" src="{{ static('bower/jQuery-Autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/bootstrap-validator/dist/validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jquery-serialize-object/dist/jquery.serialize-object.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/jquery-form/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ static('bower/sweetalert/dist/sweetalert.min.js') }}"></script>


<!-- Custom and plugin javascript -->
<script type='text/javascript' src="{{ static('plugins/pace/pace.min.js') }}"></script>

<!-- FooTable -->
<script type='text/javascript' src="{{ static('bower/footables/compiled/footable.js') }}"></script>
<script type="text/javascript" src="{{ static('bower/sweetalert/dist/sweetalert.min.js') }}"></script>
<script type='text/javascript' src="{{ static('js/adgg.js') }}"></script>

<script>
    $(document).ready(function(){
        BadiliDash.data = {};

        dash.data.all_forms = {{ all_forms | safe}};
        dash.data.all_tables = {{ db_tables | safe}};
        dash.data.all_columns = {{ tables_columns | safe}};
        dash.data.mappings = {{ mappings | safe}};
        dash.is_mapping_valid = false;  // initialize the invalid mappings to ensure that the user validates the mappings
        dash.is_dry_run_passed = false;
        dash.initiateManageMappings();
    });
</script>

</div>

{% endblock %}
