body { margin: 0;   padding: 0;  min-width: 900px; }

#dashboard #forms{ float: left; width: 80%; margin-left: 10px; }
#form_structure, #table_structure{ height: 460px; }
#forms #all_forms{ margin: 5px 0px; }

#dashboard #buttons{ float: left; width: 15%; margin-left: 10px; text-align: center; }
#buttons button{ margin: 5px;}

#dashboard #models{ width: 30%; margin-left: 60%; border: 1px dotted black; display: none; }

#models #destination{ width: 95px; margin: 5px; }

.no_border{ border: none; }

.breadcrumb_ol{ margin-top: 10px; color: #888888; }

/* provides a red astrix to denote required fields - this should be included in common stylesheet */
.form-group.required .control-label:after { content:"*"; color:red; margin-left: 4px; }

#reporting_map{ height: 400px; }

.landing-page .header-back.one {
  background: url('../img/banner.jpg') 50% 0 no-repeat;
}

.landing-page .header-back.two {
  background: url('../img/sheep.jpg') 50% 0 no-repeat;
}

.partner_logo{ text-align: center; }

#partners .usaid{ margin-top: 20%; }

.table_actions{ margin-right: 15px; }

#mapping_comments{max-height: 250px; overflow-y: scroll;}
#mapping_comments .alert{ padding: 0px; }

#processing_errors th a, #form_settings_table th a, #processing_status th a, #form_groups_table th a{ color: #337ab7; }

#edit_raw_json{ max-height: 500px; overflow-y: auto; }

#error_information .list-group-item{ min-height: 30px; }
#leaflet_map { height: 600px; }

.ibox-tools button.alert {padding: 7px; margin-bottom: 0px;}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus, .nav > li.active{ background: #54103c; }
#farmer_reg_processing, #animal_reg_processing, #farmers_gender_dist, #animals_dist{ height: 250px; }